*{
  margin: 0;
}
/** Style for the info bubble content */
.H_ib_body {
  background: rgb(211, 211, 211);
  width: 200px;
  color: #7596b6;
  filter: drop-shadow(0px 8px 8px rgba(100, 100, 100, 0.25));
}

.H_ib.H_ib_top .H_ib_tail::after {
  border-color: rgb(211, 211, 211) transparent;
}

.cardVacOpen{
    margin: 0;   
    padding: 0;
    color: rgb(105, 105, 105);
    font-weight: 200;
    display:flex; 
    flex-wrap:wrap;
    width:90vw;
    justify-content:space-between;
}
